:root {
    /* COLORS */
    --white: #fff;
    --gray: #E0E0E0;
    --button-bg-color: #3671E9;
    --dark-bg: #0D0D2B;
    --light-bg: #2B076E;
    /* PADDINGS */
    --button-padding-x: 0 20px;
    --button-padding-y: 10px 0;
    /* TYPOGRAPHY */
    --line-height: 28px;
    --container-max-width: 72rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
body {
    font-family: var(--font-family);
    min-height: 100vh;
    color: var(--white);
}

.dark-bg {
    background-color: var(--dark-bg);
}

.btn {
    background-color: var(--button-bg-color);
    padding: 14px 32px;
    border-radius: 32px;
}

.btn:hover {
    opacity: .777;
}

.container {
    max-width: 72rem;
    margin: 0 auto;
    padding: 0 1rem;
}